<DOCTYPE html>
<html>
<head>
	<title>practice erb</title>
</head>
<body>
	def get_message(birth_path_num)
case birth_path_num
when 1
message = "Your numerology number is #{birth_path_num}.\nOne is the leader. The number one indicates the ability to stand alone, and is a strong vibration. Ruled by the Sun."
when 2
message = "Your numerology number is #{birth_path_num}.\nThis is the mediator and peace-lover. The number two indicates the desire for harmony. It is a gentle, considerate, and sensitive vibration. Ruled by the Moon."
when 3
message = "Your numerology number is #{birth_path_num}.\nThis is the motivatinal person and ambitious."
when 4
message = "Your numerology number is #{birth_path_num}.\nThis is the motivatinal person and ambitious."
when 5
message = "Your numerology number is #{birth_path_num}.\nThis is the motivatinal person and ambitious."
when 6
message = "Your numerology number is #{birth_path_num}.\nThis is the motivatinal person and ambitious."
when 7
message = "Your numerology number is #{birth_path_num}.\nThis is the motivatinal person and ambitious."
when 8
message = "Your numerology number is #{birth_path_num}.\nThis is the motivatinal person and ambitious."
when 9
message = "Your numerology number is #{birth_path_num}.\nThis is the motivatinal person and ambitious."
else
message = "Uh oh! Your birth path number is not 1-9!"
end
end
 
	
</body>

</html>